.seat {
    border: 1px solid grey;
    border-radius: 5px;
}
.reserved-seat {
    background-color: lightgray;
}
.available-seat {
    background-color: lightgreen;
}

.card-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking-form-container {
    max-width: 500px;
}
.flight-detail {
    font-size: 14px;
}